* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;

}

.container {
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.headline {
    color: darkblue;
}

.todo-content {
    display: inline-block;
    width: 49%;
}

.todo-actions {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.todo-actions button {
    margin-left: 5px;
}


#message {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}
